<article class="about" ng-init="tab=1">
      <ul class="row">
        <li><a ng-class="{activeTab:tab===1}" class="col-xs-6 col-sm-3" href ng-click="tab = 1">Biography</a></li>
        <li><a ng-class="{activeTab:tab===2}" class="col-xs-6 col-sm-3" href ng-click="tab = 2">Education</a></li>
        <li><a ng-class="{activeTab:tab===3}" class="col-xs-6 col-sm-3" href ng-click="tab = 3">Experience</a></li>
        <li><a ng-class="{activeTab:tab===4}" class="col-xs-6 col-sm-3" href ng-click="tab = 4">Technology</a></li>
      </ul>

    <section ng-show="tab === 1">
      <article class="about-tab bio-tab">
        <section class="bio-image row">
          <div class="biography-image"></div>
        </section>
        <section class="bio row">
          <p class="col-md-6 text-justify">Graduated from the University of California, Santa Cruz, Justin Zhu began his work with non-profits to help the community around him. After years of working with the community, he developed and realized his passion for programming and web development. Justin spent years studying from an Object Oriented Language like Java to web-based language like Javascript. On Justin's free time, he continues to acquire new skills, design personal projects, and give back to the community.</p>
          <p class="col-md-6 text-justify">Justin is a Front-End Developer who has created, built, and designed visually appealing sites for entrepreneurs and small local companies. While being skilled in the latest web technologies (HTML5, CSS3, and Javascript), Justin's strength lies in his "whatever it takes" attitude and burning passion to learn. He believes that technology is ever-evolving and maintenance of knowledge is an important aspect of keeping up with the latest trends.</p>
        </section>
      </article>
    </section>

    <section ng-show="tab === 2">
      <article class="about-tab">
        <section class="education" ng-repeat="item in education">
          <img class=" hidden-xs" src="{{ item.photosrc }}" alt="{{item.education}} logo"/>
          <section>
            <header>
              <h3>{{item.education}}</h3>
            </header>
            <p class="text-justify">{{item.description}}</p>
        </section>
      </article>
    </section>

    <section ng-show="tab === 3">
      <article class="about-tab experience-tab">
        <img class="img-responsive experience-photo" src="img/experience.jpg" alt="picture of home workspace"/>
        <article class="experience" ng-repeat="item in experience">
          <h3>{{ item.title + ', (' + item.date + ')' }}</h3>
          <section>
            <p class="text-justify">{{ item.description}}</p>
          </section>
        </article>
      </article>
    </section>

    <section ng-show="tab === 4">
      <article class="about-tab">
        <ul class="tech-stack">
          <li class="stack" ng-repeat="slide in slides" lightbox>
            <a href="{{ slide.image }}">
              <img class="img-responsive" src="{{ slide.image }}" alt="angular logo"/>
              <h4 class="text-center">{{ slide.title }}</h4>
            </a>
          </li>
        </ul>
      </article>
    </section>
</article>