<article id="homepage" class="homepage page">
    <article class="home" main-info>
        <img class="home-banner img-responsive" src="img/responsive_design.jpg" alt=""/>
        <p class="main-info text-justify">Professional Front-End Developer skilled at creating visually appealing web applications and UI/UX interfaces. Uses the latest web-design technologies: HTML5, CSS3, JavaScript/jQuery, AngularJS, Bootstrap, and more.  Applications are built with a 'mobile-first' responsive approach allowing content to be optically viewed across multiple resolution platforms.</p>
        <a href="" ng-click="setRoute('portfolio')"><div class="hidden-xs main-pic-1"></div></a>
        <a href="" ng-click="setRoute('contact')"><div class="hidden-xs main-pic-2"></div></a>
        <p class="secondary-info text-justify">Proven experience working in team-based environments and under tight/restricting deadlines. Goes over and beyond the specifications to provide clients with the best customer service. Coupled with a "whatever it takes" attitude and emphasis on higher learning, started projects are always completed with care and excellence. Please take a look at some of the projects I completed.</p>
    </article><!-- content container -->
</article><!-- homepage -->

